* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
    background-image: url('https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/stripes-light.png');
}

main {
    flex-grow: 2;
    max-width: 1000px;
    margin: auto;
}

ul {
    font-size: 1rem;
    list-style-position: outside;
}

ul > li {
    margin: 10px 0px 10px 0px;
}

#page-header {
    padding: 1px 20px;
    background-color: #ff5757;
}

#page-title, .number, .subtitle {
    font-family: 'Cantata One', serif;
}

.text, .footer-text {
    font-family: 'Open Sans', sans-serif;
}

#page-title {
    line-height: 1.3; 
    font-size: 1.7rem;
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    color: white;
}

.list-piece {
    display: grid;
    grid-template-columns: 40px;
    grid-template-rows: 40px;
    width: 95%;
    margin: 20px auto;
}

.number-div {
    display: flex;
    background-color: white;
    border-radius: 25% 0 0 25%;
    margin: auto 0 auto;
    background-color: #ff8157;
    height: 90%;
    width: 105%;
    grid-row-start: 1;
    grid-row-end: 2;
}

.number-button:hover {
    cursor: pointer;
}

.number {
    font-size: 1.55rem;
    margin: auto;
    color: white;
}

.subtitle {
    font-size: 1.5rem;
    padding-bottom: 7px;
    border-bottom: 3px dotted grey;
}

.content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 20px 10px 20px;
    font-size: 1.5rem;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.text {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

#page-footer {
    order: 2;
    background-color: rgb(80, 80, 80);
    padding: 30px;
}

.footer-text {
    color: rgb(225, 225, 225);
    font-size: 1rem;
    text-align: center;
}

#page-footer a {
    color: rgb(225, 225, 225);
    text-decoration: none;
}

@media screen and (min-width: 481px) {
    #page-title {
        font-size: 1.9rem;
    }

    .list-piece {
        grid-template-columns: 55px;
        grid-template-rows: 55px;
    }
}

@media screen and (min-width: 769px) {
    #page-title {
        font-size: 2.1rem;
    }

    .list-piece {
        grid-template-columns: 60px;
        grid-template-rows: 60px;
    }
} 

@media screen and (min-width: 1025px) {
    #page-title {
        font-size: 2.5rem;
        text-align: center;
        margin: auto;
    }

    #page-header {
        padding: 15vh;
        background: url('https://images.pexels.com/photos/5718104/pexels-photo-5718104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') #ff5757;
        background-size: cover;
        background-blend-mode: multiply;
    }
}

@media screen and (min-width: 1201px) {
    #page-header {
        padding: 20vh;
    }

    .text {
        font-size: 1.2rem;
    }
}